* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.checkout {
  background-color: #fff;
  padding: 10px;
}

.checkout-container {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.checkout-container h1 {
  font-size: 1.5em;
  color: #68092b;
}

.checkout-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-container fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.checkout-container legend {
  font-weight: bold;
  color: #68092b;
  margin-bottom: 5px;
}

.checkout-container label,
.checkout-container input,
.checkout-container button {
  font-size: 1em;
  margin: 5px 0;
}

.checkout-container input[type="text"],
.checkout-container input[type="email"],
.checkout-container input[type="tel"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #68092b;
  border-radius: 4px;
}

.checkout-container button {
  background-color: #68092b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.checkout-container button:hover {
  background-color: #1b4e87;
}
