* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-y: auto;
}

.header {
  width: 100%;
  background-color: #0a6847;
  padding: 10px 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo img {
  height: 50px;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}

.nav-menu ul li a:hover {
  color: #f6e9b2;
}

.search-bar {
  position: relative;
}

.search-bar input {
  padding: 8px 40px 8px 10px; /* Agregado padding a la derecha para el botón */
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  width: 500px;
}

.search-bar button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #0a6847;
  font-size: 16px;
}

.search-bar button:hover {
  color: #f6e9b2;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.icon-button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon-button i {
  color: #0a6847;
  font-size: 16px;
}

.icon-button:hover {
  background-color: #f6e9b2;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .search-bar input {
    width: 300px;
    margin: 10px 0;
  }

  .action-buttons {
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 40px;
  }

  .nav-menu ul li a {
    font-size: 16px;
    padding: 8px;
  }

  .search-bar input {
    width: 200px;
  }

  .icon-button {
    width: 35px;
    height: 35px;
  }

  .icon-button i {
    font-size: 14px;
  }
}
