    /*  BODY  */
body{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
    color: whitesmoke;
    padding-top: 15%;
    justify-content: center;
    display: flex;

}

    /*  Formulario  */
.contenedor{
    background-color: rgb(11, 105, 71);
    border-radius: 7px;
    padding: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    width: 300px;
    text-align: center;
}

.botone{
    margin-bottom: 15px;
}

    /*  Texto  */
.botone label{
    margin: 5px;
    display: block;
    font-size: 17px;
}

    /*  Campos de texto  */
.botone input{
    margin-bottom: 10px;
    border-radius: 5px;
    height: 20px;
    
}

    /*  Boton "ingresar  "*/
button{
    background-color: green;
    color: white;   
    cursor: pointer;
    border-radius: 7px;
    width: 90%;
    font-size: 18px;
    padding: 11px;
    margin-bottom: 15px;
    border: 0;
}

    /*  Links  */
p a {
    color: rgb(3, 245, 245);
}

p a:hover{
    color:rgb(3, 228, 190);
    text-decoration: underline;
}