* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  font-size: 18px;
  min-height: 80vh;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #d8d8d8;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  gap: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-picture-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.user-profile-picture {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid #d8d8d8;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.btn {
  background-color: #68092b;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-container .btn:hover {
  background-color: #540823;
}

.profile-details-section {
  flex: 2;
}

.profile-details-section h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.user-role {
  font-size: 0.9em;
  color: #777;
}

.profile-details-section label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

.profile-details-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

.registration-info {
  text-align: center;
  margin-top: 25px;
  font-size: 16px;
  color: #777;
}

/* Responsividad */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    padding: 30px;
  }

  .user-profile-picture {
    width: 140px;
    height: 140px;
  }

  .profile-container .btn {
    padding: 10px 18px;
    font-size: 15px;
  }

  .profile-details-section h2 {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .profile-container {
    padding: 20px;
  }

  .profile-container .btn {
    padding: 8px 15px;
    font-size: 14px;
  }

  .profile-details-section h2 {
    font-size: 20px;
  }

  .registration-info {
    font-size: 14px;
  }
}
