* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

.user-registration-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-top: 30px;
}

.user-registration-content {
  flex: 1;
  background-color: #f0f0f0;
  padding: 30px;
}
